*{
	font-size:14px; 
}
header{
	height: 50px;
	clear: both;
}
textarea,input{
	-moz-box-shadow:    0px 5px 5px -3px #CCC;
	-webkit-box-shadow: 0px 5px 5px -3px #CCC;
	box-shadow:         0px 5px 5px -3px #CCC;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:0px;
	font-size: 14px;
}
input[type="text"],input[type="password"]{
	height: 35px;
	vertical-align: middle;
}
textarea:hover,input:hover{
	-moz-box-shadow:    0px 5px 5px -5px #C0C0C0;
	-webkit-box-shadow: 0px 5px 5px -5px #C0C0C0;
	box-shadow:         0px 5px 5px -5px #C0C0C0;
}
textarea:focus,input:focus{
	border: 1px solid #326EA1;
	-moz-box-shadow:    0px 5px 5px -5px #DDD;
	-webkit-box-shadow: 0px 5px 5px -5px #DDD;
	box-shadow:         0px 5px 5px -5px #DDD;
}
#container{
	width: 960px;
	margin: 0 auto;
	height: 98%;
}
#sidebar{
	width: 200px;
	position: absolute;
	top: 70px;
	left: 10px;
	
}
#friends{
	width: 200px;
	position: absolute;
	top: 70px;
	right: 10px;
}
#content{
	width: 500px;
	margin: 0 auto;
}
.selected{
	background:#326EA1;
}
.friend_pic{
	width: 30px;
	height: 30px;
	float: left;
	padding: 5px;
	cursor: pointer;
}
.rowHeader{
	-moz-border-radius: 15px 15px 0px 0px;
	border-radius: 15px 15px 0px 0px;
	min-height: 125px;
	background:#326EA1;
	vertical-align: middle;
	text-align: center;
	height: auto;
}
.smallerTextField{
	font-size:11px;
	height: 15px;
	vertical-align: middle;
}
.rowHeader input{
	margin-top: 13px;
}
.inTheMiddle{
	margin: 0 auto;
	
}
.rowFooter{
	-moz-border-radius: 0px 0px 15px 15px;
	border-radius: 0px 0px 15px 15px;
	height: 65px;
	background:#326EA1;
	vertical-align: middle;
	text-align: center;
}
.rowFooter input{
	margin-top: 13px;
}
.rowsHolder{
	border-left: 1px solid #C0C0C0;
	border-right: 1px solid #C0C0C0;
	
}
.row{
	height: 45px;
	padding: 5px;
	/*border-top: 1px solid #C0C0C0;*/
	border-bottom: 1px solid #C0C0C0;
	vertical-align: middle;
	cursor: pointer;
}
.row:hover{
	-moz-box-shadow:    0px 10px 5px -5px #DDD;
	-webkit-box-shadow: 0px 10px 5px -5px #DDD;
	box-shadow:         0px 10px 5px -5px #DDD;
}
/*
 	-moz-border-radius: 15px;
	border-radius: 10px;
*/
.clearAll{
	clear: both;
}
.field{
	padding: 8px;
	clear:both;
}

.field label{
	font-weight: bold;
	cursor: pointer;
}
.field input,.field textarea{
}
.widthFull{
	width: 100%;
}
.widthAlmostFull{
	width:98%;
}
.heightGoesMore200{
	min-height: 200px;
}
.center{
	text-align: center;
}
.floatedLeft{
	float:left;
}
.floatedRight{
	float:right;
}


.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
